*.aux
*.hi
*.hp
*.o
*.prof
*.ps
*.svg
*.swp
*~
.cabal-sandbox/
.hsenv
.stack-work/
/.ghc.environment.*
/cabal-dev/
/cabal.project.local
/dist-newstyle/
/dist/
cabal.config
cabal.sandbox.config
hie.yaml
tags
